.git
.gitignore
.venv
venv
env
.vscode
.idea
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.log
data/raw/*
data/datasets/*
models/*
rag_index/*
logs/*
sessions/*
.hf-cache/*
*.session
*.session-journal
.DS_Store
README.MD
docs/
