venv/
env/
start/.env

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg

*.log
training_log.txt
logs/

**/session/

**/trained_models/

**/model/json/
**/model/csv/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
.AppleDouble
.LSOverride

*config.json
